.RobotoLight{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.RobotoRegular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.RobotoItalic{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.RobotoMedium{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.RobotoBolt{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.RobotoBlack{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}