body{
    padding: 0;
    margin: 0;
}

a {
   text-decoration: none;
}
h1 {
    color: white;
    background-color: black;
    text-align: center;
}
p{
    text-transform: uppercase;
}
p::selection{
    background-color: red;
}
hr{
    border: 2px solid red;
    width: 800px;
}
ul{
    padding-left: 0;
    list-style-type: none;
}
span{
    display: inline-block;
    width: 70px;
}
label{
    line-height: 25px;
}
.submit{
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 10px 0;
}
.block-1{
    background-color: black;
    height: 50px;
    width: 200px;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 10px;
    color: white;
}
.block-2{
    border: 1px solid black;
}
img{
    float: left;
    border: 2px dotted black;
}
.block-2::after{
    content: "";
    display: table;
    clear: both;
}
.a1{
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: blueviolet;
    text-align: center;
    color: white;
}
.inline{
    display: inline;
    margin: 10px;
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li{
    display: inline-block;
    height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.li:last-child{
    margin-right: 0;
}

.li:hover{
    background-color: lightgray;
}
.menu{
    background-color: grey;
    height: 50px;
}
.layout-positioner{
    margin: 0 auto;
    width: 420px;
    padding: 0;
    height: 50px;
}
.back{
    width: 100%;
    height: 300px;
    background-image: url("1.png");
    background-size: 200px auto;
    background-repeat: repeat-x;
    position: relative;
}
.backp{
    position: absolute;
    margin-top: 50px;
}
