/* =====================    imports   ===================== */
@import url(css/fonts.css);
/* =====================    /imports   ===================== */

/**********************************************************************************************************************/

/* =====================    general settings   ===================== */
body, html{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
/* =====================    /general settings   ===================== */

/**********************************************************************************************************************/

/* =====================    clearfix   ===================== */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* =====================    /clearfix  ===================== */

/**********************************************************************************************************************/

/* =====================    wrappers    ===================== */
.section-outer{
    width: 100%;
}
.section-inner{
    float: left;
    width: 60%;
    height: inherit;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}
.section-inner-left{
    float: left;
    height: inherit;
    width: 20%;
    z-index: 0;
    position: relative;
    padding-left: 60px;
}
.section-inner-right{
    float: right;
    height: inherit;
    width: 20%;
    z-index: 0;
    position: relative;
    padding-right: 60px;
}
/* =====================    /wrappers   ===================== */

/**********************************************************************************************************************/

/* =====================    global rules    ===================== */
a{
    text-decoration: none;
    color: black;
}
/* =====================    /global rules    ===================== */

/**********************************************************************************************************************/

/* =====================    header    ===================== */
#section-header{
    height: 100vh;
    background: url("images/Composite-Path-sale.png") no-repeat 0 101%, url("images/BG.png") no-repeat center center;
    background-size: 100%, cover;
    position: relative;
    z-index: 0;
}
/* --- top --- */
#section-header-navbar{
    padding: 30px 60px 0 60px;
    width: 100%;
    z-index: 1;
}
.section-header-logo{
    display: inline-block;
    font-size: 1.5em;
    color: #333333;
    float: left;
}
.section-header-image-logo{
    display: inline-block;
    float: left;
    position: absolute;
    top: 10px;
    left: 95px;
}
.navbar-menu{
    display: inline-block;
    padding: 0;
    margin: 0 60px 0 0;
    float: right;
    position: relative;
    top: 10px;
}
.menu-item{
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 10px;
    color: #333333;
}
.menu-item:hover{ 
    background: url(./images/point.png) no-repeat 50% 100%;
}
.menu-item:last-child{
    margin-right: 0;
}
.navbar-item{
    display: inline-block;
    float: right;
}
#basket{
    position: relative;
    margin-right: 10px;
}
.cart{
    width: 100%;
    height: 100%;
}
.cart2{
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
}
.number-cart{
    font-size: 12px;
    color: white;
    position: absolute;
    right: -1px;
    top: -5px;
    z-index: 3;
}
.total-price{
    margin-right: 87px;
    color: #333333;
    position: relative;
    top: 10px;
}
/* --- /top --- */

/* --- left --- */
.section-header-copyright{
    position: absolute;
    bottom: 140px;
}
/* --- /left --- */

/* --- center --- */
#section-inner-header-content{
    color: #333333;
    text-align: center;
    padding-top: 20vh;
}
#section-header-title{
    font-size: 4.5em;
    margin-bottom: 34px;
}
.section-header-subtitle{
    letter-spacing: 3px;
}
.section-header-button{
    width: 160px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(to right, #4fc3d8, #b3d597);
    margin: 80px auto 0 auto;
}
.section-header-button button{
    font-size: 16px;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: #444444;
    margin-top: 5px;
}
.section-header-button button:hover{
    background-color: rgba(255, 255, 255, 0)
}
/* --- /center --- */

/* --- right --- */
.section-header-counter{
    padding-right: 90px;
    position: absolute;
    right: 90px;
    bottom: 140px;
}
.active-picture{
    color: #78b000;
    font-size: 1.5em;
}
.hidden-picture{
    color: #333333;
    font-size: 0.75em;
    position: relative;
    top: -5px;
}
.section-header-switcher{
    position: absolute;
    right: 60px;
    bottom: 140px;
}
.next{
    position: relative;
    left: 4px;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 24px;
    border-radius: 12px 0 0 12px;
    background-color: white;
    border: none;
    border-right: 1px solid #ebeae6;
}
.next:hover{
    background-color: #c5c5c5;
}
.back{
    margin: 0;
    padding: 0;
    width: 35px;
    height: 24px;
    border-radius: 0 12px 12px 0;
    background-color: white;
    border: none;
}
.back:hover{
    background-color: #c5c5c5;
}
.section-header-social{
    text-align: right;
    padding-top: 25vh;
}
.section-header-social button{
    padding: 0;
    width: 22px;
    height: 22px;
    margin-bottom: 11px;
    border-radius: 11px;
    border: 1px solid #c0c0c0;
    text-align: center;
}
.section-header-social i{
    font-size: 13px;
    color: #bababa;
}
/* --- /right --- */

@media screen and (max-width: 1800px){

}
@media screen and (max-width: 1360px){
    .section-inner{
        width: 80%;
    }
    .section-inner-left{
        width: 10%;
    }
    .section-inner-right{
        width: 10%;
    }
}
/* =====================    /header    ===================== */

/**********************************************************************************************************************/

/* =====================    shop    ===================== */
#section-shop{
    background: url("images/badge.png") no-repeat center 0, white;
    padding: 0;
    margin: 0;
}

/* --- top --- */

#section-inner-shop{
    width: 100%;
    padding: 50px 20% 90px 20%;
}
#section-inner-shop button{
    padding: 0;
    width: 182px;
    height: 47px;
    border-radius: 24px;
    border: 2px solid #d8d8d7;
    background-color: white;
    margin-right: 19px;
}
#section-inner-shop button:hover{
    background-color: #81ba00;
    color: white;
}
.left-btn{
    float: left;
}
.right-btn{
    float: right;
}
#section-inner-shop button:nth-child(2n){
    margin-right: 0;
}

/* --- /top --- */

#section-shop-goods{
    width: 100%;
    padding: 0 60px 0 60px;
    text-align: center;
    color: #525252;
}
.section-shop-goods-item{
    display: inline-block;
    width: 270px;
    height: 400px;
    border-radius: 15px;
    margin-right: 30px;
}
.section-shop-goods-item:hover{
    box-shadow: 0 0 20px #e6e5e1;
    border-bottom: 3px solid #7fbc00;
}
.section-shop-goods-item:last-child{
    margin-right: 0;
}
.section-shop-goods-item button{
    padding: 0;
    margin-top: 35px;
    margin-bottom: 270px;
    background-color: #ffffff;
    border: none;
    height: 40px;
    width: 60px;
    font-size: 1.125em;
    color: #dedede;
}
.section-shop-goods-item button:nth-child(1){
    border-radius: 20px 0 0 20px;
}
.section-shop-goods-item button:nth-child(3){
    border-radius: 0 20px 20px 0;
}
.section-shop-goods-1{
    background: url(./images/Composite_Path.png), url(./images/tomat.png) no-repeat 50% 50%;
    background-blend-mode: multiply;
    overflow: hidden;
}
.section-shop-goods-2{
    background: url(./images/Composite_Path.png), url(./images/cabbage.png) no-repeat 50% 50%;
    background-blend-mode: multiply;
    overflow: hidden;
}
.section-shop-goods-3{
    background: url(./images/Composite_Path.png), url(./images/cherry.png) no-repeat 50% 50%;
    background-blend-mode: multiply;
    overflow: hidden;
}
.section-shop-goods-4{
    background: url(./images/Composite_Path.png), url(./images/ginder.png) no-repeat 50% 45%;
    background-blend-mode: multiply;
    overflow: hidden;
}
.section-shop-goods-5{
    background: url(./images/Composite_Path.png), url(./images/pinapple.png) no-repeat 50% 35%;
    background-blend-mode: multiply;
    overflow: hidden;
}
.section-shop-goods-6{
    background: url(./images/Composite_Path.png), url(./images/onion.png) no-repeat 50% 60%;
    background-blend-mode: darken;
    overflow: hidden;
}
.section-shop-goods-7{
    background: url(./images/Composite_Path.png), url(./images/onion.png) no-repeat 50% 60%;
    background-blend-mode: darken;
    overflow: hidden;
}
.section-shop-goods-8{
    background: url(./images/Composite_Path.png), url(./images/onion.png) no-repeat 50% 60%;
    background-blend-mode: darken;
    overflow: hidden;
}
.shop-price{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    color: #7fbb00;
}
.section-shop-scalebar{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 140px;
}
@media screen and (max-width: 1800px){

    #section-inner-shop{
        width: 100%;
        padding: 150px 20% 90px 20%;
    }
}
@media screen and (max-width: 1360px){

}
/* =====================    /shop    ===================== */

/**********************************************************************************************************************/

/* =====================    about    ===================== */
#section-about{
    width: 100%;
    height: 1222px;
    background: url(./images/about-back.png) no-repeat 0 130px, url(./images/about-back-right.png) no-repeat 100% 363px,
        url(./images/about-logo.png) no-repeat 50% 100%, #f7f6f2;
    background-blend-mode: darken;
    color: #525252;
}
.section-about-title{
    text-align: center;
    font-size: 2.625em;
    margin-top: 125px;
}
.section-about-subtitle{
    text-align: center;
    letter-spacing: 5px;
    font-size: 0.875em;
    margin-top: 12px;
}
.section-about-hr{
    display: inline-block;
    width: 44px;
    color: #cccccc;
    vertical-align: middle;
}
.section-about-text{
    text-align: center;
    padding: 50px 150px 0;
}
.section-about-readmore-all{
    width: 100%;
    height: 400px;
    text-align: center;
    color: #525252;
    margin-top: 70px;
}
.section-about-readmore{
    display: inline-block;
    width: 25%;
    height: 400px;
    float: left;
    text-align: center;
    padding: 150px 30px 0;

}
.section-about-readmore-1{
    background: url(./images/about-first.png) no-repeat 50% 0;
    position: relative;
    top: 100px;
}
.section-about-readmore-2{
    background: url(./images/about-second.png) no-repeat 50% 0;
}
.section-about-readmore-3{
    background: url(./images/about-theree.png) no-repeat 50% 0;
}
.section-about-readmore-4{
    background: url(./images/about-four.png) no-repeat 50% 0;
    position: relative;
    top: 100px;
}
.section-about-readmore button{
    color: #bac3c3;
    background-color: #ffffff;
    border: none;
    width: 125px;
    height: 35px;
    border-radius: 20px;
    font-size: 0.75em;
}
/* =====================    /about    ===================== */

/**********************************************************************************************************************/

/* =====================    fresh    ===================== */
#section-fresh{
    height: 1000px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #525252;
}
/* --- /top --- */
.section-fresh-top{
    width: 100%;
    margin-top: 120px;
}
.section-fresh-goods-top{
    width: 50%;
    float: left;
    height: 300px;
}
.goods-top-item{
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0 10px 0;
    line-height: 20px;
}
.goods-top-item-1{
    background: url(./images/fresh-fruits.png) no-repeat 50% 10%;
}
.goods-top-item-2{
    background: url(./images/fresh-vegetables.png) no-repeat 50% 10%;
}
.goods-top-item-3{
    background: url(./images/fresh-breads.png) no-repeat 50% 10%;
}
.goods-item-inner{
    width: 100%;
    height: 100%;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding-top: 170px;
}
.goods-item-inner hr{
    width: 40px;
    border: 1px solid #eeeeee;
    margin-bottom: 40px;
}
.goods-item-inner em{
    color: #7fb900;
    font-size: 0.75em;
}
.fresh-about-title{
    letter-spacing: 5px;
    display: inline-block;
    margin-bottom: 20px;
}
.fresh-text{
    line-height: 30px;
}
.fresh-size{
    font-size: 3em;
    display: inline-block;
    margin-bottom: 25px;
}
.section-fresh-about-top{
    height: 100%;
    width: 45%;
    float: right;
    text-align: justify;
}
/* --- /top --- */

/* --- bottom --- */
.section-fresh-bottom{
    width: 100%;
    margin-top: 120px;
    height: 300px;
}
.section-fresh-about-bottom{
    text-align: justify;
    width: 45%;
    float: left;
}
.section-fresh-goods-bottom{
    width: 50%;
    height: 100%;
    float: right;
}
.goods-item-bottom{
    width: 33.33%;
    height: 100%;
    float: right;
    text-align: center;
    padding: 0 10px 0;
    line-height: 20px;
}
.goods-bottom-item-1{
    background: url(./images/fresh-juices.png) no-repeat 50% 10%;
}
.goods-bottom-item-2{
    background: url(./images/fresh-juices-2.png) no-repeat 50% 10%;
}
.goods-bottom-item-3{
    background: url(./images/fresh-tea.png) no-repeat 50% 10%;
}
/* --- bottom --- */
@media screen and (max-width: 1800px){

}
@media screen and (max-width: 1360px){

}
/* =====================    /fresh    ===================== */

/**********************************************************************************************************************/

/* =====================    goods    ===================== */
#section-goods{
    height: 1300px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #525252;
}
.goods-head{
    text-align: center;
}
.goods-head-small-title{
    letter-spacing: 5px;
}
.goods-head-title{
    display: inline-block;
    width: 470px;
    height: 70px;
    border-radius: 35px;
    border: 1px solid #e5e5e5;
    font-size: 2.625em;
    padding-top: 10px;
    margin-top: 28px;
}
.goods-btn-all{
    width: 100%;
    margin-top: 67px;
    padding: 0 100px 0;
    text-align: center;
}
.goods-btn-all-outer{
    display: inline-block;
    padding: 0 5px 0;
}
.goods-btn{
    height: 30px;
    border: 1px solid #e5e5e5;
    background-color: white;
    border-radius: 15px;
    font-size: 12px;
    color: #9f9e9b;
}
.goods-btn:hover{
    background-color: #7fbc00;
    color: white;
}
.section-goods-product-top{
    margin-top: 41px;
}
.section-goods-product-outer{
    width: 25%;
    float: left;
    padding: 0 10px 0;
}
.section-goods-product-item{
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 400px;
    border-radius: 15px;
}
.section-goods-product-item:hover{
    box-shadow: 0 0 20px #e6e5e1;
    border-bottom: 3px solid #7fbc00;
}
.section-goods-product-item button{
    padding: 0;
    margin-top: 35px;
    margin-bottom: 270px;
    background-color: #ffffff;
    border: none;
    height: 40px;
    width: 60px;
    font-size: 1.125em;
    color: #dedede;
}
.section-goods-product-item button:nth-child(1){
    border-radius: 20px 0 0 20px;
}
.section-goods-product-item button:nth-child(3){
    border-radius: 0 20px 20px 0;
}
.section-goods-product-bottom{
    margin-top: 50px;
}
.section-goods-scalebar{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
@media screen and (max-width: 1800px){

}
@media screen and (max-width: 1360px){
    .goods-head{
        margin-top: 100px;
    }
}
/* =====================    /goods    ===================== */

/**********************************************************************************************************************/

/* =====================    sale    ===================== */
#section-sale{
    height: 1000px;
    background: url(./images/sale-back1.png) no-repeat 0 90%, url(./images/sale-back2.png) no-repeat 100% top, url(./images/sale-tomatto.png) no-repeat 50% 12%, #f7f6f2;
    background-blend-mode: multiply;
    color: #525252;
}
.section-sale-top{
    color: #525252;
    margin-top: 150px;
}
.section-sale-top-left{
    text-align: right;
    width: 40%;
    float: left;
}
.section-sale-top-right{
    width: 40%;
    float: right;
    text-align: justify;
    line-height: 20px;
}
.section-sale-title{
    font-size: 2.625em;
}
.section-sale-small-title{
    letter-spacing: 5px;
    font-size: 0.75em;
}
#section-sale hr{
    margin-top: 50px;
    border-color: #7dbe00;
}
.section-sale-clock{
    text-align: center;
    margin-top: 46px;
}
.section-sale-clock-outer{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: linear-gradient(to top, #4fc3d8, #b3d597);
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}
.white-box{
    display: inline-block;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
.clock-number{
    font-size: 2.5em;
}
.clock-word{
    position: relative;
    top: -5px;
    color: #75d1d1;
}
.section-sale-posters{
    width: 100%;
    margin-top: 48px;
}
.section-sale-poster-left{
    width: 50%;
    height: 250px;
    float: left;
    padding-right: 15px;
}
.section-sale-poster-left-inner{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
}
.section-sale-poster-right{
    width: 50%;
    height: 250px;
    float: right;
    padding-left: 15px;
}
.section-sale-poster-right-inner{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
}
.placeholder{
    width: 100%;
    height: 270px;
    background-color: #dbdad6;
}
.sale-poster-col-1{
    width: 12%;
    height: 100%;
    float: left;
}
.sale-poster-col-2{
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 35px;
    padding-left: 35px;
}
.sale-poster-col-3{
    width: 38%;
    height: 100%;
    float: left;
}
.btn-sale-good{
    width: 100%;
    height: 33.33%;
    background-color: #ffffff;
    border-right: 2px solid #f7f6f2;
    text-align: center;
    padding-top: 70%;
}
.btn-sale-good-1, .btn-sale-good-2{
    border-bottom: 2px solid #f7f6f2;
}
.btn-sale-good i{
    color: #dedede;
    font-size: 1.25em;
}
.poster-small-title{
    font-size: 0.75em;
    letter-spacing: 5px;
}
.poster-title{
    font-size: 1.75em;
}
.poster-description{
    font-size: 0.75em;
}
.new-sale{
    width: 100%;
    height: 25%;
    font-size: 0.75em;
    letter-spacing: 2px;
    padding-top: 20px;
}
.sale{
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 5px;
}
.new{
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 5px;
}
.new div{
    width: 70px;
    height: 24px;
    border-radius: 12px;
    background-color: #92d2a7;
    color: white;
    float: right;
    text-align: center;
    padding-top: 6px;
}
.sale div{
    width: 70px;
    height: 24px;
    border-radius: 12px;
    background-color: #79d1d6;
    color: white;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}
.sale-btn{
    margin-top: 150px;
    text-align: center;
}
.sale-btn button{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    background-color: white;
    margin-right: 5px;
    color: #d7d7d7;
    font-size: 12px;
}
.sale-btn button:last-child{
    margin-right: 0;
}
.sale-btn button:hover{
    background-color: #90d3a6;
    color: white;
}
/* =====================    /sale    ===================== */

/**********************************************************************************************************************/

/* =====================    recommend    ===================== */
.section-recommend{
    background: url(images/recomend-arenge.png) no-repeat 50% 0;
    height: 1152px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #525252;
    padding-top: 120px;
    overflow: hidden;
}
.fa-star{
    font-size: 12px;
    letter-spacing: -5px;
    color: #8dd3a5;
}
.section-recommend-head{
    text-align: center;
}
.section-recommend-container{
    width: 100%;
    margin-top: 50px;
}
.section-recommend-column-outer{
    width: 33.33%;
    height: 500px;
    float: left;
}
.section-recommend-column{
    padding: 0 10px 0;
}
.section-recommend-row{
    width: 100%;
    height: 25%;
}
.section-recommend-title{
    width: 100%;
    height: 20%;
}
.section-recommend-cell-1{
    width: 70%;
    float: left;
}
.recommend-small-title{
    letter-spacing: 5px;
    font-size: 0.75em;
}
.recommend-title{
    font-size: 1.625em;
}
.section-recommend-cell-2{
    width: 30%;
    float: left;
    padding-top: 20px;
}
.recommend-btn-1{
    margin: 0;
    padding: 0;
    width: 35px;
    height: 24px;
    border-radius: 12px 0 0 12px;
    background-color: white;
    border: 2px solid #f6f6f6;
    position: relative;
    right: -5px;
    color: #9f9f9f;
}
.recommend-btn-2{
    margin: 0;
    padding: 0;
    width: 35px;
    height: 24px;
    border-radius: 0 12px 12px 0;
    background-color: white;
    border: 2px solid #f6f6f6;
    color: #9f9f9f;
}
.section-recommend-row{
    border: 1px solid #eeeeee;
    border-radius: 10px;
    margin-top: 30px;
    height: 26.6%;
    width: 100%;
    padding: 5px;
}
.section-recommend-cell-placeholder{
    width: 50%;
    height: 110px;
    float: left;
    background-color: #eeeeee;
}
.section-recommend-cell-info{
    width: 40%;
    float: right;
    padding-top: 30px;
}
.section-recommend-banners{
    width: 100%;
    margin-top: 100px;
}
.section-recommend-banner-1{
    width: 45%;
    float: left;
    position: relative;
}
.section-recommend-banner-1 img{
    height: 100%;
    width: 100%;
}
.section-recommend-banner-1 button{
    position: absolute;
    top: 80.5%;
    left: 14%;
    width: 26%;
    height: 10%;
    border: none;
    background-color: #b8c800;
    border-radius: 15px;
    color: white;
    font-size: 0.75em;
}
.section-recommend-banner-2{
    width: 45%;
    float: right;
    position: relative;
}
.section-recommend-banner-2 img{
    height: 100%;
    width: 100%;
}
.section-recommend-banner-2 button{
    position: absolute;
    top: 80.5%;
    left: 14%;
    width: 26%;
    height: 10%;
    border: none;
    background-color: #ffbd0e;
    border-radius: 15px;
    color: white;
    font-size: 0.75em;
}
/* =====================    /recommend    ===================== */

/**********************************************************************************************************************/

/* =====================    subscribe    ===================== */
#section-subscribe{
    background: url("images/subscirbe-back.png") no-repeat 0 100%, url("images/subscirbe-back-2.png") no-repeat 100% 0, #f7f6f2;
    background-blend-mode: darken;
    height: 260px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #525252;
}
.section-subscribe-main{
    width: 100%;
    margin-top: 80px;
}
.section-subscribe-head{
    width: 45%;
    float: left;
    position: relative;
    top: -10px;
}
.section-subscribe-form{
    width: 55%;
    float: right;
}
.section-subscribe-small-title{
    font-size: 0.75em;
}
.section-subscribe-title{
    font-size: 2.25em;
}
.email{
    width: 68%;
    height: 56px;
    float: left;
    background-color: white;
    border-radius: 26px;
    border: none;
    font-size: 1em;
    padding-left: 30px;
}
.email::placeholder{
    color: #cccccc;
}
input[type="submit"]{
    width: 28%;
    height: 56px;
    float: right;
    border-radius: 26px;
    background-color: #7cc000;
    border: none;
    color: white;
    font-size: 18px;
}
/* =====================    /subscribe    ===================== */

/**********************************************************************************************************************/

/* =====================    blog    ===================== */
.section-blog{
    width: 100%;
    height: 700px;
}
.section-subscribe-reviews{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding-top: 100px;
    padding-left: 100px;
    position: relative;
    top: -50px;
}
.reviews-left{
    width: 50%;
    padding-right: 100px;
    float: left;
}
.reviews-right{
    width: 50%;
    padding-right: 100px;
    float: right;
}
.reviews-image{
    width: 25%;
    float: left;
}
.reviews-image img{
    height: 100%;
    width: 100%;
}
.reviews-text{
    width: 65%;
    float: right;
    color: #aaaaaa;
}
.reviews-text-author{
    color: #333333;
}
.fa-user{
    color: #b8ca00;
}
.section-blog-hr{
    border: 1px solid #eeeeee;
}
.section-blog-btn{
    text-align: center;
    position: relative;
    top: -20px;
}
.section-blog-head{
    width: 100%;
    text-align: center;
    color: #525252;
    margin-top: 50px;
}
.blog-small-title{
    letter-spacing: 5px;
}
.blog-title{
    font-size: 46px;
    margin-top: 5px;
}
.blog-last-news{
    width: 100%;
    height: 100%;
}
.blog-last-new-left{
    width: 50%;
    float: left;
}
.blog-last-new-right{
    width: 50%;
    float: right;
}
.blog-last-new-image-outer{
    width: 40%;
    float: left;
}
.blog-last-new-image-inner{
    width: 100%;
    height: 100%;
}
.blog-last-new-image-inner img{
    width: 100%;
    height: 100%;
}
.blog-last-new-text{
    width: 55%;
    float: right;
    color: #525252;
}
.blog-date{
    font-size: 0.75em;
}
.blog-news-title{
    font-size: 1.25em;
    margin-bottom: 40px;
}
.blog-description{
    font-size: 1em;
    margin-bottom: 30px;
}
.blog-read{
    font-size: 0.75em;
    color: #84c400;
}
/* =====================    /blog    ===================== */

/**********************************************************************************************************************/

/* =====================    footer    ===================== */
.section-footer{
    background-color: #f9f8f4;
    height: 500px;
    padding-top: 76px;
    margin-top: 139px;
    color: #333333;
}
.section-footer-col-1, .section-footer-col-4{
    width: 30%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.section-footer-col-2, .section-footer-col-3{
    width: 20%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-hr{
    border: 2px solid #7ac200;
    width: 30px;
    margin: 50px 0 50px 0;
}
.section-footer-col-1 a{
    font-size: 28px;
}
.section-footer-dick{
    font-size: 16px;
}
.section-footer-ul{
    list-style-type: none;
    padding: 0;
}
.section-footer-ul li{
    margin-bottom: 10px;
}
.section-footer-ul li:nth-child(3){
    color: #7abf00;
}
.section-footer-ul-2{
    padding: 0;
    list-style-type: none;
}
.section-footer-ul-2 li{
    margin-bottom: 13px;
}
.fa-arrow-circle-right{
    font-size: 12px;
}
.photo-inst{
    width: 25%;
}
/* =====================    /footer    ===================== */

/**********************************************************************************************************************/

/* =====================    footer_2    ===================== */
.section-footer-2{
    width: 100%;
    height: 130px;
    padding-top: 40px;
}
.copy-right{
    color: #b5b5b5;
    float: left;
    margin: auto;
}
.footer-menu{
    float: right;
}
.footer-menu-ul{
    color: #999999;
}
.footer-menu-ul li{
    display: inline-block;
    margin-right: 20px;
}
.footer-menu-ul li:hover{
    color: #545454;
}
/* =====================    footer_2    ===================== */